[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=photobash_images
X-Python-2-Compatible=false
X-Krita-Manual=photobash_images_manual.html
Name=Photobash Images
Comment=An advanced Krita Plugin, laser-focused on improving productivity for photo-bashing and references!
